@use "variables";

.section-hero {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)),
    url("images/plane.jpg");
  height: 90vh;
  background-position: center;
  background-size: cover;
  color: variables.$color-white;
  text-align: center;
  padding-top: 3rem;
  .hero-text-box {
    padding-top: 4rem;
    width: 80%;
    margin: 0 auto;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    h1 {
      font-size: 3.2rem;
      letter-spacing: -1px;
      text-transform: capitalize;
      line-height: 1.2;
    }
    p {
      font-size: 1.4rem;
      margin-top: 2.4rem;
      line-height: 1.5;
      text-transform: uppercase;
      word-spacing: 3px;
      letter-spacing: 1px;
    }
  }
  .btn:link,
  .btn:visited {
    display: inline-block;
    background-color: variables.$color-lightgray;
    padding: 1rem 2rem;
    color: variables.$color-white;
    border-radius: 0.3rem;
    font-size: 1.4rem;
    transition: all 0.2s ease;
    font-weight: 600;
  }
  .btn:hover,
  .btn:active {
    background-color: variables.$color-gray;
    box-shadow: 0 0 1rem variables.$color-white;
    transform: scale(1.02);
  }
}
